@model Pharmacy_Management.Models.Employees

@{
    ViewBag.Title = "Delete";
}

<div class="vh-100 px-3 py-5">
    <h1><span class="text-grey">Pharma One > Lista Ricette Mediche</span> > Cancellazione Cliente</h1>

    <h3>Sei Sicuro di volerlo cancellare?</h3>
    <div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <h5 class="card-header text-center">Info Dipendente</h5>
                    <div class="card-body d-flex justify-content-around text-center">
                        <div>
                            <img src="~/Content/Assets/Img/Employees/@Model.UrlImg" alt="Alternate Text" />
                        </div>
                        <div>
                            <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                            <p class="card-text">Nome e Cognome</p>
                        </div>
                        <div>
                            <h5 class="card-title">@Model.Roles.TypeRole</h5>
                            <p class="card-text">Ruolo</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header text-center">Info Login</h5>
                    <div class="card-body d-flex justify-content-around text-center">
                        <div>
                            <h5 class="card-title">@Model.Username</h5>
                            <p class="card-text">Username</p>
                        </div>
                        <div>
                            <h5 class="card-title">@Model.Pwd</h5>
                            <p class="card-text">Password</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Cancella" class="btn btn-warning" />
                @Html.ActionLink("Torna Indietro", "Index", null, new { @class = "btn btn-primary" })
            </div>
        }
    </div>

</div>
