@model IEnumerable<Pharmacy_Management.Models.Employees>

@{
    ViewBag.Title = "Index";
}

<div class="vh-100 px-3 py-5">
    <h1><span class="text-grey">Pharma One</span> > Lista di Dipendenti</h1>
    <h4>Dipendenti</h4>

    <a href="~/Employees/Create" class="btn btn-success mb-4">+ Nuovo Dipendente</a>

    <table class="table tables_pharmacy blue-border">
        <tr class="bg-blue">
            <th>
                @Html.DisplayNameFor(model => model.Roles.TypeRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pwd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImg)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles.TypeRole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pwd)
                </td>
                <td>
                    <img src="~/Content/Assets/Img/Employees/@item.UrlImg" class="img-px" alt="Alternate Text" />
                </td>
                <td>
                    @Html.ActionLink("Modifica", "Edit", new { id = item.IdEmployee }, new { @class = "btn btn-warning" }) 
                    @Html.ActionLink("Dettagli", "Details", new { id = item.IdEmployee }, new { @class = "btn btn-info" }) 
                    @Html.ActionLink("Cancella", "Delete", new { id = item.IdEmployee }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>

</div>

