@model IEnumerable<Pharmacy_Management.Models.Medicines>

@{
    ViewBag.Title = "ChoiceProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vh-100 px-3 py-5">
    <h1><span class="text-grey">Ordini > Crea Ordine</span> > Scegli Il Prodotto</h1>
    <p class="mt-4">Scegli uno o piú prodotti qui elencati, o inseriscine uno nuovo</p>
    <table class="table tables_pharmacy yellow-border">
        <tr class="bg-yellow mt-4">
            <th>
                Numero Cassetto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierCompanies.NameCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeMedicine.DescTypeMedicine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeProduct.DescTypeProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionUse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Drawers.Identifier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierCompanies.NameCompany)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeMedicine.DescTypeMedicine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeProduct.DescTypeProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionUse)
                </td>
                <td>
                    <img src="~/Content/Assets/Img/Medicines/@item.UrlImg" class="img-px" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @if (item.TypeMedicine.RequiredPescrition == true && ViewBag.ExistingPescrition == false)
                    {
                        @Html.ActionLink("+ Pescrizione", "CreatePescrition", new { id = Pharmacy_Management.Models.Orders.StaticIdCustomer }, new { @class = "btn btn-warning" })
                    }
                    else
                    {
                        @Html.ActionLink("Vai al carrello", "Create", new { id = item.IdMedicine }, new { @class = "btn btn-warning" })
                    }

                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Torna Indietro", "PreviewCustomers", null, new { @class= "btn btn-primary mt-4"})
    </p>
</div>
