@model IEnumerable<Pharmacy_Management.Models.Customers>

@{
    ViewBag.Title = "PreviewCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vh-100 px-3 py-5">
    <h1><span class="text-grey">Ordini</span> > Crea Ordine</h1>
    <h4>Seleziona il Cliente presente nella lista</h4>

    <table class="table tables_pharmacy blue-border">
        <tr class="bg-blue">
            <th>
                Nome
            </th>
            <th>
                Cognome
            </th>
            <th>
                Codice Fiscale
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodFisc)
                </td>
                <td>
                    @Html.ActionLink("Seleziona", "ChoiceProduct", new { id = item.IdCustomer }, new { @class= "btn btn-primary"})
                </td>
            </tr>
        }

    </table>

    <h2>Inserimento Nuovo cliente</h2>

    <p>
        @Html.ActionLink("+ Aggiungi Cliente", "CreateCustomers", null, new { @class = "btn btn-success"})
    </p>
</div>