@model IEnumerable<Pharmacy_Management.Models.Medicines>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Drawers.IdDrawer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierCompanies.NameCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeMedicine.DescTypeMedicine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeProduct.DescTypeProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionUse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Drawers.IdDrawer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierCompanies.NameCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeMedicine.DescTypeMedicine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeProduct.DescTypeProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionUse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("Vai al carrello", "Edit", new { id=item.IdMedicine })
        </td>
    </tr>
}

</table>
