@model IEnumerable<Pharmacy_Management.Models.Medicines>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="d-flex">
            <label for="dateSoldMedicines">Cerca prodotto per data di vendita</label>
            <input class="form-control" type="date" id="DateSearch" name="dateSoldMedicines" aria-label="Search">
            <button class="btn btn-outline-success" name="dateSoldMedicines" id="BtnDateSearch">Invia</button>
        </div>
    </div>
    <div class="row">
        <div id="resultSearchByDate" class="d-flex flex-wrap justify-content-around align-content-around align-items-center"></div>
    </div>


    <div class="row">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Drawers.IdDrawer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierCompanies.NameCompany)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeMedicine.DescTypeMedicine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeProduct.DescTypeProduct)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescriptionUse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UrlImg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Drawers.IdDrawer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierCompanies.NameCompany)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeMedicine.DescTypeMedicine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeProduct.DescTypeProduct)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescriptionUse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UrlImg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.ActionLink("Vai al carrello", "Create", "Orders", new { id = item.IdMedicine }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#BtnDateSearch").click(function () {
            alert("Funziona il datapicker");
            let DataPicker = $("#DateSearch").val();

            $.ajax({
                url: "GetMedicineByDate",
                method: "GET",
                data: { "DataSelected": DataPicker },
                success: function (a) {
                    console.log(a);
                    if (a == "ERRORE") {
                        $('#resultSearchByDate').append("<div class=\"alert alert-warning\">Nessun medicinale trovato</div>")
                    } else {
                        $.each(a, function (index, valore) {
                            $('#resultSearchByDate').append("<div class=\"card\" style=\"width: 18rem; \"> " +
                                "<img src =\"~/Content/Assets/Img/Medicines/" + valore.UrlImg + " class=\"card-img-top\" alt =\"...\" />" +
                                "<div class=\"card-body\">" +
                                "<h5 class=\"card-title\">" + valore.NameMedicine + "</h5>" +
                                "<p class=\"card-text\">Quantitá ordinata:" + valore.Quantity + "</p>" +
                                "<p class=\"card-text\">Data:" + valore.DateOrder + "</p>" +
                                "<a href=\"~/Medicines/Index\" class=\"btn btn-primary\">Dettagli Medicina</a>" +
                                "</div>" +
                                "</div>")
                        })

                    }     
                }
                })
        })
    })
</script>