@model IEnumerable<Pharmacy_Management.Models.Medicines>

@{
    ViewBag.Title = "FixLastProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vh-100 px-3 py-5">
    <h1><span class="text-grey">Inventario</span> > Gestione delle ultime Giacenze</h1>
    <p>Medicine dispinibili nei casetti.</p>

        @Html.AntiForgeryToken()
        <table class="table tables_pharmacy red-border">
            <tr class="bg-red">
                <th>
                    Nome della Medicina
                </th>
                <th>
                    Immagine
                </th>
                <th>
                    Tipo di prodotto
                </th>
                <th>Prezzo</th>
                <th>
                    Cassetto
                </th>
                <th>
                    Giacenza
                </th>
                <th>Quantitá da Ordinare</th>
            </tr>


            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameMedicine)
                </td>
                <td>
                    <img src="~/Content/Assets/Img/Medicines/@item.UrlImg" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeProduct.DescTypeProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Drawers.Identifier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>

                    @Html.HiddenFor(modelItem => item.IdMedicine)
                    <div class="form-group d-flex m-0 gap-2">
                        @*<div class="range_px">
                            @Html.EditorFor(modelItem => item.Stock, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(modelItem => item.Stock, "", new { @class = "text-danger" })
                        </div>*@

                       @Html.ActionLink("Risolvi", "FixSingleProducts", new { id = item.IdMedicine}, new { @class = "btn btn-danger"})
                    </div>
                </td>
            </tr>
            }
            
        </table>

    </div>