@model Pharmacy_Management.Models.TypeMedicine

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vh-100 px-3 py-5">
    <h1><span class="text-grey">Admin</span> > Tipologia di Medicina</h1>
    <h4>Modifica Tipologia del Medicinale</h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdTypeMedicine)

            <div class="form-group mt-3">
                @Html.LabelFor(model => model.DescTypeMedicine, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DescTypeMedicine, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescTypeMedicine, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(model => model.RequiredPescrition, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.RequiredPescrition)
                        @Html.ValidationMessageFor(model => model.RequiredPescrition, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group mt-4">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salva" class="btn btn-success" />
                    @Html.ActionLink("Torna Indietro", "Index", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }


</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
