@model IEnumerable<Pharmacy_Management.Models.Drawers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vh-100 px-3 PY-5">
    <h1><span class="text-grey">Dashboard</span> > Lista di Cassetti</h1>
    <h4>Cassetti</h4>

    <table class="table tables_pharmacy blue-border">
        <tr class="bg-blue">
            <th>
                @Html.DisplayNameFor(model => model.Identifier)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Identifier)
                </td>
                <td>
                    @Html.ActionLink("Modifica", "Edit", new { id = item.IdDrawer }, new { @class = "btn btn-warning" }) 
                    @Html.ActionLink("Dettagli", "Details", new { id = item.IdDrawer }, new { @class = "btn btn-info" }) 
                    @Html.ActionLink("Cancella", "Delete", new { id = item.IdDrawer }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>

</div>
