@model Pharmacy_Management.Models.Pescritions

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vh-100 px-3 py-5">
    <h1><span class="text-grey">Dashboard > Lista Ricette Mediche</span> > Modifica</h1>
    <h4>Dettagli di una Ricette Mediche</h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
 
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdPrescription)

            <div class="form-group mt-3">
                @Html.LabelFor(model => model.IdentifierPrescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IdentifierPrescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdentifierPrescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-3">
                Nome del Cliente
                <div class="col-md-10">
                    @Html.DropDownList("IdCustomer", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdCustomer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-4">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salva le Modifiche" class="btn btn-success" />
                    @Html.ActionLink("Torna Indietro", "Index", null, new { @class = "btn btn-primary"})
                </div>
            </div>
        </div>
    }

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
