@model Pharmacy_Management.Models.Customers

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vh-100 px-3 py-5">
    <h1><span class="text-grey">Dashboard > Lista Ricette Mediche</span> > Dettagli</h1>
    <h4>Dettagli Cliente</h4>

    <h3>Are you sure you want to delete this?</h3>
    <div>

        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <h5 class="card-header text-center">Nome Cliente</h5>
                    <div class="card-body d-flex justify-content-around text-center">
                        <div>
                            <h5 class="card-title">@Model.FirstName</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header text-center">Cognome Cliente</h5>
                    <div class="card-body d-flex justify-content-around text-center">
                        <div>
                            <h5 class="card-title">@Model.LastName</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <h5 class="card-header text-center">Codice Fiscale</h5>
                    <div class="card-body d-flex justify-content-around text-center">
                        <div>
                            <h5 class="card-title">@Model.CodFisc</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color mt-4">
        <input type="submit" value="Cancella" class="btn btn-success" />
        @Html.ActionLink("Torna Indietro", "Index", null, new { @class = "btn btn-primary" })
    </div>
        }
    </div>

</div>

