@model IEnumerable<Pharmacy_Management.Models.Customers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vh-100 px-3 py-5">
    <h1><span class="text-grey">Dashboard</span> > Lista Clienti</h1>
    <h4>Elenco dei Clienti</h4>

    <a href="~/Customers/Create" class="btn btn-success mb-4">+ Nuovo Cliente</a>
    <table class="table tables_pharmacy blue-border">
        <tr class="bg-blue">
            <th>
                Ruolo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodFisc)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles.TypeRole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodFisc)
                </td>
                <td>
                    @Html.ActionLink("Modifica", "Edit", new { id = item.IdCustomer }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Dettagli", "Details", new { id = item.IdCustomer }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Cancella", "Delete", new { id = item.IdCustomer }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>

</div>
