@model IEnumerable<Pharmacy_Management.Models.Customers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Roles.TypeRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodFisc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlImg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.TypeRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodFisc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlImg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCustomer }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCustomer }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCustomer })
        </td>
    </tr>
}

</table>
