<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://kit.fontawesome.com/7b501ddc7c.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="sidenav">
                <div class="sidenav-header d-flex justify-content-center align-content-center align-items-center gap-2">
                    <img src="~/Content/Assets/Img/Logo/logo.svg" alt="Logo" class="img-logo" />
                    <h3>Pharma One</h3>
                </div>
                <div id="sidenav-body">

                    <div class="d-flex justify-content-between align-content-center w-100 user_row-spacing">
                        <div class="d-flex">
                            <img src="~/Content/Assets/Img/Employees/@Pharmacy_Management.Models.Users.ImgUser" class="user_img" alt="Alternate Text" />
                            <div class="details_user-style">
                                <h4>@Pharmacy_Management.Models.Users.Name</h4>
                                <p>@Pharmacy_Management.Models.Users.Role</p>
                            </div>
                        </div>
                        <div class="show_user-links">
                            <img src="~/Content/Assets/Img/Icons/user_btn.png" class="user_btn" alt="Alternate Text" />
                            <div class="user_links d-none">
                                <div id="border_user-links" class="d-flex justify-content-between align-items-center gap-2 user-link">
                                    <img src="~/Content/Assets/Img/Icons/user-icon.png" alt="Alternate Text" />
                                    @Html.ActionLink("Profilo", "Details", "Employees", new { id = Pharmacy_Management.Models.Users.IdEmployee }, new { @class = "text-black" })
                                </div>
                                <div class="d-flex justify-content-between align-items-center gap-2 user-link">
                                    <img src="~/Content/Assets/Img/Icons/logout.png" alt="Alternate Text" />
                                    @Html.ActionLink("Logout", "SignOut", "Login", null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div id="square-rotate_user" class="d-none"></div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between dashboard_clicked-style align-content-center w-100 sidenav_row-spacing">
                        <div>
                            <img src="~/Content/Assets/Img/Icons/Dashboardr.png" alt="Alternate Text" /> <a href="~/Dashboard/Index">Dashboard</a>
                        </div>
                        <div>
                            <img src="~/Content/Assets/Img/Icons/Arrow-down.png" class="dashboard_click-down arrow_down-align show_arrow-down" id="dash-arrow-down" alt="Alternate Text" />
                            <img src="~/Content/Assets/Img/Icons/arrow-up.png" class="dashboard_click-down arrow_down-align show_arrow-up d-none" id="dash-arrow-up" alt="Alternate Text" />
                        </div>
                    </div>

                    <div class="dashboard_show-links">
                        <ul class="d-none">
                            <li><a href="~/Orders/PreviewCustomers">Effettua Ordine</a></li>
                            <li><a href="~/Orders/Index">Lista Ordini</a></li>
                            <li><a href="~/Pescritions/Index">Ricette Mediche</a></li>
                            <li><a href="~/Customers/Index">Clienti</a></li>
                        </ul>
                    </div>

                    <div class="d-flex justify-content-between inventory_clicked-style align-content-center w-100 sidenav_row-spacing">
                        <div><img src="~/Content/Assets/Img/Icons/Inventory.png" alt="Alternate Text" /> <a href="~/Inventary/Index">Inventario</a></div>
                        <div>
                            <img src="~/Content/Assets/Img/Icons/Arrow-down.png" class="inventory_click-down arrow_down-align show_arrow-down" id="inventory-arrow-down" alt="Alternate Text" />
                            <img src="~/Content/Assets/Img/Icons/arrow-up.png" class="inventory_click-down arrow_down-align show_arrow-up d-none" id="inventory-arrow-up" alt="Alternate Text" />
                        </div>
                    </div>

                    <div class="inventory_show-links">
                        <ul class="d-none">
                            <li><a href="~/Inventary/ListMedicines">Lista di Prodotti</a></li>
                            <li><a href="~/Inventary/ListGroupsMedicine">Categorie</a></li>
                            <li><a href="~/Inventary/FixLastProducts">Ultime Giacenze</a></li>
                        </ul>
                    </div>

                    <div class="d-flex justify-content-between search_clicked-style align-content-center w-100 sidenav_row-spacing">
                        <div><img src="~/Content/Assets/Img/Icons/search.png" alt="Alternate Text" /> <a href="~/ResultSearch/Index">Ricerca</a></div>
                        <div>
                            <img src="~/Content/Assets/Img/Icons/Arrow-down.png" class="search_click-down arrow_down-align show_arrow-down" id="search-arrow-down" alt="Alternate Text" />
                            <img src="~/Content/Assets/Img/Icons/arrow-up.png" class="search_click-down arrow_down-align show_arrow-up d-none" id="search-arrow-up" alt="Alternate Text" />
                        </div>
                    </div>

                    <div class="search_show-links">
                        <ul class="d-none">
                            <li><a href="~/ResultSearch/SearchByCodFisc">Per Codice Fiscale</a></li>
                            <li><a href="~/ResultSearch/SearchByDate">Per Data</a></li>
                        </ul>
                    </div>

 
                    <div class="d-flex justify-content-between align-content-center w-100 sidenav_row-spacing">
                        <div>
                            <img src="~/Content/Assets/Img/Icons/User.png" alt="Alternate Text" /> <a href="~/Employees/Index">Accounts</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="main-content bg_white-grey"> @RenderBody()</div>
        </div>
    </div>
    
    
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $(".dashboard_click-down").click(function () {
            $(".dashboard_show-links > ul").toggleClass("d-none");
            $(".dashboard_clicked-style").toggleClass("click-down_clicked");
            $("#dash-arrow-up").toggleClass("d-none");
            $("#dash-arrow-down").toggleClass("d-none");
        })

        $(".inventory_click-down").click(function () {
            $(".inventory_show-links > ul").toggleClass("d-none");
            $(".inventory_clicked-style").toggleClass("click-down_clicked");
            $("#inventory-arrow-up").toggleClass("d-none");
            $("#inventory-arrow-down").toggleClass("d-none");
        })

        $(".search_click-down").click(function () {
            $(".search_show-links > ul").toggleClass("d-none");
            $(".search_clicked-style").toggleClass("click-down_clicked");
            $("#search-arrow-up").toggleClass("d-none");
            $("#search-arrow-down").toggleClass("d-none");
        })

        $(".show_user-links").click(function () {
            $(".user_links").toggleClass("d-none");
            $("#square-rotate_user").toggleClass("d-none");
        })
    })
</script>
