<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://kit.fontawesome.com/7b501ddc7c.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 sidenav">
                <div class="sidenav-header d-flex justify-content-center align-content-center align-items-center gap-2">
                    <img src="~/Content/Assets/Img/Logo/logo.svg" alt="Logo" class="img-logo" />
                    <h3>Pharma One</h3>
                </div>
                <div id="sidenav-body">
                    <ul>
                        <li>
                            <div>
                                <img src="~/Content/Assets/Img/Icons/Dashboardr.png" alt="Alternate Text" /> Dashboard
                            </div> <div>
                                <img src="~/Content/Assets/Img/Icons/Arrow-down.png" alt="Alternate Text" />
                            </div>
                            <ul>
                                <li><a href="~/"></a>Gestione Medicine</li>
                                <li><a href="~/"></a>Gestione Clienti</li>
                                <li><a>Gestione prodotti in vendita</a></li>
                            </ul>
                        </li>
                        <li>Effettua Ordine</li>
                        <li><div><img src="~/Content/Assets/Img/Icons/Inventory.png" alt="Alternate Text" /> Inventario</div> <div><img src="~/Content/Assets/Img/Icons/Arrow-down.png" alt="Alternate Text" /></div></li>
                        <li><div><img src="~/Content/Assets/Img/Icons/Reports.png" alt="Alternate Text" /> Statistiche</div> <div><img src="~/Content/Assets/Img/Icons/Arrow-down.png" alt="Alternate Text" /></div></li>
                        <li><div><img src="~/Content/Assets/Img/Icons/User.png" alt="Alternate Text" /> Account</div> <div><img src="~/Content/Assets/Img/Icons/Arrow-down.png" alt="Alternate Text" /></div></li>
                    </ul>
                </div>
            </div>
            <div class="col-10"> @RenderBody()</div>
        </div>
    </div>
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
