<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://kit.fontawesome.com/7b501ddc7c.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 sidenav">
                <div class="sidenav-header d-flex justify-content-center align-content-center align-items-center gap-2">
                    <img src="~/Content/Assets/Img/Logo/logo.svg" alt="Logo" class="img-logo" />
                    <h3>Pharma One</h3>
                </div>
                <div id="sidenav-body">

                    <div class="d-flex justify-content-between align-content-center w-100 click-down">
                        <div>
                            <img src="~/Content/Assets/Img/Icons/Dashboardr.png" alt="Alternate Text" /> <a href="~/Dashboard/Index">Dashboard</a>
                        </div>
                        <div><img src="~/Content/Assets/Img/Icons/Arrow-down.png" class="arrow_down-align" alt="Alternate Text" /></div>
                    </div>

                    <div class="show-links">
                        <ul class="d-none">
                            <li><a href="~/"></a>Medicine</li>
                            <li><a href="~/"></a>Clienti</li>
                            <li><a>Prodotti</a></li>
                        </ul>
                    </div>

                    <div class="d-flex justify-content-between align-content-center w-100">
                        <a href="~/Orders/PreviewCustomers">Effettua Ordine</a>
                    </div>

                    <div class="d-flex justify-content-between align-content-center w-100">
                        <div><img src="~/Content/Assets/Img/Icons/Inventory.png" alt="Alternate Text" /> Inventario</div>
                        <div><img src="~/Content/Assets/Img/Icons/Arrow-down.png" class="arrow_down-align" alt="Alternate Text" /></div>
                        <ul class="d-none">
                            <li><a href="~/"></a>Lista di Medicine</li>
                            <li><a href="~/"></a>Categorie Medicine</li>
                        </ul>
                    </div>
                    <div class="d-flex justify-content-between align-content-center w-100">
                        <div>
                            <img src="~/Content/Assets/Img/Icons/Reports.png" alt="Alternate Text" /> <a href="#">Statistiche</a>
                        </div>
                        <div><img src="~/Content/Assets/Img/Icons/Arrow-down.png" class="arrow_down-align" alt="Alternate Text" /></div>
                    </div>
                    <div class="d-flex justify-content-between align-content-center w-100">
                        <div>
                            <img src="~/Content/Assets/Img/Icons/User.png" alt="Alternate Text" /> <a href="#">Account</a>
                        </div>
                        <div><img src="~/Content/Assets/Img/Icons/Arrow-down.png" class="arrow_down-align" alt="Alternate Text" /></div>
                    </div>
                </div>
            </div>
            <div class="col-10"> @RenderBody()</div>
        </div>
    </div>
    
    
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $(".click-down").click(function () {
            $(".show-links > ul").toggleClass("d-none");
        })
    })
</script>
